<p><%= notice %></p>
<h1>Topics一覧</h1>
<%= link_to "投稿する", new_topic_path %>
<br>
<br>
<% @topics.reverse.each do |topic| %>
 <p>内容：<%= topic.content %></p>
 <%= link_to "修正する", edit_topic_path(topic.id), data: { confirm: "本当に編集していいですか？" } %>
 <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '本当に削除していいですか？'}  %>

 <% end %>
